body {
  position: fixed;
  background-position: right top;
  background-color: #ffffff; /* Background color */
  background-size: 1000px 900px;
  background-repeat: no-repeat;
}
.lheads {
  position: fixed;
  text-align: justify;
  left: 320px;
  top: 70px;
  color: #0c0c0c; /* Text color */
}

label {
  display: inline-flex;
  font: 4rem 'times new roman';
}

.lntext {
  position: fixed;
  text-align: center;
  height: 60px;
  width: 483px;
  left: 190px;
  top: 190px;
  border-radius: 30px;
}

.plntext {
  position: fixed;
  text-align: center;
  height: 64px;
  width: 483px;
  left: 190px;
  top: 290px;
  border-radius: 30px;
}

.lsubmit {
  background-color: rgb(12, 6, 9);
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 30px;
  position: fixed;
  width: 150px;
  height: 60px;
  margin-left: 260px;
  font-size: 150%;
  margin-top: 320px;
}

.lsubmit:hover {
  opacity: 8000%;
  color: rgb(112, 146, 71); /* Hover color */
}

span.psw {
  float: right;
  padding-top: 480px;
  padding-left: 150px;
}
.forgetpass
{
  background-color: rgb(12, 6, 9);
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  cursor: pointer;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  position: fixed;
  width: 150px;
  height: 60px;
  left: 480px;
  top: 480px;
  font-size: 90%;
}
.signupbut
{
  background-color: rgb(12, 6, 9);
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  position: fixed;
  width: 150px;
  height: 60px;
  left: 260px;
  top: 480px;
  font-size: 90%;
}

.error {
  color: #ff0000; 
  font-size: 14px; 
  margin-top: 5px;
}


.input-container {
  position: relative;
}


.input-container .error {
  position: absolute;
  bottom: -330px; 
  left: 190px;
}





.containerlog {
  position: fixed;
  top: -inherit;
  bottom: 50px;
  left: 100px;
  width: 680px;
  height: 500px;
  background-color: rgba(216, 216, 221, 0.9);
  overflow: hidden;
  border-radius: 8%;
}

